* {
	box-sizing: border-box;
}

body {
    background-color:#7F00FF;	
    position: relative;
    width: 1000px;
}

#logo{	
    background-color: #FFA500;
    position: absolute;
    padding: 10px;
    border: 3px solid black;
    margin: 0px;
    width: 350px;
    font-family: Georgia, Garamond, serif;
    font-size: 30px;
    color: #000080;
    font-weight: bold;
    text-align: center;
}

header {
    position: absolute;
    background-color: #FFA500;
    left: 650px;
    margin: 0px;
    padding: 15px;
    border: 3px solid black;
    width: 1100px;
    text-align: center;
    font-family: "Andale Mono", monospace;
}

nav {
	position: absolute;
	left: 1600px;
	top: 200px;
}

ul {
	text-align: center;
	list-style-type: none;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 30px;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #FFA500;
	text-decoration: none;
}
	 
li a:link {
    display: block;
    color: #7F00FF;
    padding: 10px;
    text-decoration: none;
}

li a:visited { 
   color: #7F00FF;
}

h2 {
    font-family: Helvetica, verdana, sans-serif; 
	text-align: center;
}

p.text { 
    font-family: Tahoma, Arial, sans-serif;	
    font-size: 20px;
}

p.sentence { 
    background-color: #7F00FF;
	color: white;
    font-family: Helvetica, verdana, sans-serif;
	font-size: 40px;
	font-weight: bold;
	float: left;
	margin: 20px 65px;
	border: 3px solid black;
	padding: 15px;
	width: 450px;
	height: 200px;
    text-align: center;
}

div {
    background-color: #FFA500;
	position: absolute;
	padding: 10px;
    border: 3px solid black;
    margin: 0px;
}

#Game {
    top: 100px;
    width: 538px;
    
}

#Guide {
    left: 650px;	
    top: 200px;
    width: 900px;   
}

#Benefits {
	top: 520px;
    width: 1780px;	
}

#Me{
	top: 860px;
	width: 1780px;
}

#PageGuide{
	position: absolute;
	top: 1170px;
	left: 1400px;
	color: white;
	width: 150px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 20px;
}

#NextPage{
	position: absolute;
	left: 1600px;
	top: 1170px;
	width: 150px;
	background-color: #FFA500;
	padding: 10px;
    border: 3px dashed black;
    margin: 0px;
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 20px;
}

footer {
    position: absolute;
	top: 1120px;
	left: 800px;
	color: white;
	font-weight: bold;
	width: 500px;
}

